#screenshot-ui {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  position: relative;
  width: 100%;
}

#screenshot-ui button {
  background-color: #272727;
  border: 1px solid rgb(241 241 241 / 25%);
  border-radius: 3px;
  color: rgb(241, 241, 241);
  cursor: pointer;
  height: 24px;
  margin-left: 3px;
  user-select: none;
  width: 32px;
}

#screenshot-ui button:hover {
  background-color: #3f3f3f;
}