#screenshot-ui {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  opacity: .9;
}

#screenshot-ui div {
  align-items: center;
  display: flex;
  height: 100%;
}

#screenshot-ui button {
  background-color: var(--yt-app-background);
  border: 1px solid var(--yt-spec-call-to-action);
  border-radius: 3px;
  border-style: none;
  color: var(--yt-button-active-color);
  cursor: pointer;
  height: 24px;
  margin-right: 3px;
  user-select: none;
  width: 32px;
}

#screenshot-ui button:hover {
  background-color: var(--yt-spec-call-to-action);
  color: var(--yt-app-background);
}

#screenshot-ui input {
  border: 1px solid var(--yt-spec-call-to-action);
  border-radius: 3px;
  box-sizing: border-box;
  height: 24px;
  width: 70px;
}