#screenshot-ui {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  position: relative;
  width: 100%;
}

#screenshot-ui button {
  background-color: var(--yt-spec-additive-background);
  border: 1px solid var(--yt-live-chat-disabled-icon-button-color);
  border-radius: 3px;
  color: var(--yt-spec-text-primary);
  cursor: pointer;
  height: 24px;
  margin-left: 3px;
  user-select: none;
  width: 32px;
}

#screenshot-ui button:hover {
  background-color: var(--yt-spec-outline);
}