:root {
  --ydk-screenshot-rgb: 0, 0, 0;
}

/* デスクトップ */
:root[dark],
/* モバイル */
:root:has(.ytSearchboxComponentHostDark) {
  --ydk-screenshot-rgb: 255, 255, 255;
}

#ydk-title-slot {
  display: flex;
  gap: 0.6em;
  justify-content: flex-end;
  margin-top: 1em;
  position: relative;
  width: 100%;
}

#ydk-screenshot-bar {
  display: flex;
  gap: 0.2em;
  order: 2;

  button {
    background-color: rgba(var(--ydk-screenshot-rgb), 0.1);
    border: 1px solid rgba(var(--ydk-screenshot-rgb), 0.3);
    border-radius: 3px;
    color: rgba(var(--ydk-screenshot-rgb), 0.9);
    cursor: pointer;
    height: 24px;
    user-select: none;
    width: 32px;

    &:hover {
      background-color: rgba(var(--ydk-screenshot-rgb), 0.2);
    }
  }
}
